@charset "UTF-8";
/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,700,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

input:focus {
  outline: none;
}

/* 
&display=swap
*/
body {
  line-height: 1;
  color: #fff;
  background-color: #000;
  font-family: "Poppins";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="left__container"] {
  max-width: 343px;
  margin: 0 auto;
}

[class*="right__container"] {
  max-width: 463px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.anime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anime__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-bottom: 75px;
}

.left {
  position: relative;
  padding-top: 90px;
}

.left__top {
  position: absolute;
  left: 20px;
  top: 20px;
}

.top-left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.top-left__item:not(:last-child) {
  margin-bottom: 24px;
}

.top-left__item_padding {
  padding-left: 9px;
}

.top-left__text {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 0.065em;
}

span.purple {
  color: #CA38ED;
}

.body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-left__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 28px;
}

.body-left__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.body-left__subtitle {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
}

.form {
  width: 100%;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item:not(:last-child) {
  margin-bottom: 25px;
}

.form__item_last {
  margin-bottom: 33px;
}

.form__label {
  font-size: 14px;
}

.form__input {
  padding: 22px;
  width: 100%;
  background: rgba(255, 255, 255, 0.47);
  border: 2px solid #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #D8D5D9;
}

.form__btn {
  width: 100%;
  padding: 22px 0;
  background: #E487FB;
  border-radius: 10px;
  margin-bottom: 43px;
  font-family: 'Archivo';
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #3E1149;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__btn:hover {
  background: #fff;
}

.ou {
  width: 100%;
}

.ou__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.ou__text::after {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #fff;
}

.ou__text::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #fff;
}

.icons {
  padding: 0 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons__item {
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid white;
}

.forget__text {
  display: inline-block;
  margin-top: 46px;
}

.forget__link {
  display: inline;
}

.right {
  background-color: #3E1149;
  padding: 63px 98px 0px 74px;
}

.circle {
  width: 548px;
  height: 548px;
  border-radius: 50%;
  background-color: #E487FB;
  position: relative;
  margin-bottom: 140px;
}

.circle__img {
  position: absolute;
  top: 64px;
  left: 7px;
}

.right-text {
  text-align: center;
}

.right-text__title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.065em;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.right-text__body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.right-text__important {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.slider {
  text-align: center;
}

.slider-btn {
  width: 39px;
  height: 6px;
  background: #C4C4C4;
  border-radius: 53px;
  margin-right: 7px;
}
